node_modules
npm-debug*
/dist
/ssl
/index.html
/.cache-loader
/.awcache
/deploy
upload/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*